/// Determines the hyperbolic sine of a given number `$number`
///
/// @author ImBrett
/// @group Math
/// @arg {number} $number [null]
/// The number to determine the hyperbolic sine of
/// @return {number} The hyperbolic sine of `$number`
///
/// @example scss Determining the hyperbolic sine of 1
/// $value: sinh(1); // 1.1752011936
///
@function sinh($number) {
  $top: pow($E, (2 * $number)) - 1;
  $bottom: 2 * pow($E, $number);
  @return  $top / $bottom;
}

/// Determines the hyperbolic cosine of a given number `$number`
///
/// @author ImBrett
/// @group Math
/// @arg {number} $number [null]
/// The number to determine the hyperbolic cosine of
/// @return {number} The hyperbolic cosine of `$number`
///
/// @example scss Determining the hyperbolic cosine of 1
/// $value: cosh(1); // 1.5430806348
///
@function cosh($number) {
  $top: pow($E, (2 * $number)) + 1;
  $bottom: 2 * pow($E, $number);
  @return  $top / $bottom;
}

/// Determines the hyperbolic secant of a given number `$number`
///
/// @author ImBrett
/// @group Math
/// @arg {number} $number [null]
/// The number to determine the hyperbolic secant of
/// @return {number} The hyperbolic secant of `$number`
///
/// @example scss Determining the hyperbolic secant of 1
/// $value: sech(1); // 0.6480542737
///
@function sech($number) {
  @return 1 / cosh($number);
}

/// Determines the hyperbolic cosecant of a given number `$number`
///
/// @author ImBrett
/// @group Math
/// @arg {number} $number [null]
/// The number to determine the hyperbolic cosecant of
/// @return {number} The hyperbolic cosecant of `$number`
///
/// @example scss Determining the hyperbolic cosecant of 1
/// $value: csch(1); // 0.8509181282
///
@function csch($number) {
  @return 1 / sinh($number);
}

/// Determines the hyperbolic tangent of a given number `$number`
///
/// @author ImBrett
/// @group Math
/// @arg {number} $number [null]
/// The number to determine the hyperbolic tangent of
/// @return {number} The hyperbolic tangent of `$number`
///
/// @example scss Determining the hyperbolic tangent of 1
/// $value: tanh(1); // 0.761594156
///
@function tanh($number) {
  $top: pow($E, (2 * $number)) - 1;
  $bottom: pow($E, (2 * $number)) + 1;
  @return  $top / $bottom;
}

/// Determines the hyperbolic cotangent of a given number `$number`
///
/// @author ImBrett
/// @group Math
/// @arg {number} $number [null]
/// The number to determine the hyperbolic cotangent of
/// @return {number} The hyperbolic cotangent of `$number`
///
/// @example scss Determining the hyperbolic cotangent of 1
/// $value: coth(1); // 1.3130352855
///
@function coth($number) {
  @return 1/ tanh($number);
}
