/// The value of PI
/// @type number
///
$PI: 3.1415926535897932384626433832795028841971693993751;

/// Calculates the exponent `$exp` of a number `$number`
///
/// @author ImBrett
/// @group utilitiy
/// @arg {number} $number [null]
/// The base number
/// @arg {number} $exp [null]
/// The exponent to calculate
/// @return {number} The calculated exponent
///
/// @example scss Calculating the second exponent of the number 2
///   $four: pow(2, 2);
///
@function pow($number, $exp){
  $value: 1;
  @if ($exp > 0){
      @for $i from 1 through $exp{
        $value: $value * $number;
      }
  } @else {
    @for $i from 1 through -$exp{
      $value: $value / $number;
    }
  }
  @return $value;
}

/// Calculates the factorial of a given number
///
/// @author ImBrett
/// @group utility
/// @arg {number} $number [null]
/// The number to calculate a factorial for
/// @return {number} The calculated factorial
///
@function factorial($number){
  $value: 1;
  @if $number > 0{
    @for $i from 1 through $number{
      $value: $value * $i;
    }
  }
  @return $value;
}

/// Rounds a number to a specific number of decimals
///
/// @author ImBrett
/// @group utility
/// @arg {number} $number [null]
/// The number to round
/// @arg {number} $power [null]
/// The number of decimal points to round to
/// @return {number} The rounded number
///
/// @example scss Rounding a number to the second decimal place
///   $rounded-number: toFixed(3.14159, 100) => 3.14
///
@function toFixed($number, $power){
  @return round($number * $power) / $power;
}

/// Derermines the radian for a given angle `$angle`
///
/// @author ImBrett
/// @arg {number} $angle [null]
/// The angle to determine the radian for
/// @return {number} The angles radian
/// @throws error
///
/// @example scss Determining the radian for a 45 degree angle
///   $radian: radian(45deg); => 0.7853981634
///
@function radian($angle) {
  $unit: unit($angle);
  $unitless: $angle / ($angle * 0 + 1);
  @if $unit == deg {
    $unitless: $unitless / 180 * $PI;
    @return $unitless;
  }
  @error '#{$angle} must have a degree unit, consider adding `deg` to the end of the number.'
}
