/// A mixin to include a shadow on an element
///
/// Setting the hover effect to `true` will create an effect that spreads the
/// shadow out from the element after your mouse has hovered over it
///
/// @author ImBrett
/// @group Core
/// @arg {boolean} $hover [false]
/// Whether or not to include a hover effect
///
/// @example scss Including a shadow with no hover effect
///   $shadow: @include shadow();
///
/// @example scss Including a shadow with the hover effect
///   $hover-effect-shadow: @include shadow(true);
///
@mixin shadow($hover: false) {
  box-shadow: 0 space(4) space(4) rgba(0, 0, 0, 0.23),
    0 space(2) space(2) rgba(0, 0, 0, 0.36);
  transition: 0.3s all ease-in-out;

  @if $hover {
    &:hover {
      box-shadow: 0 space(12) space(12) rgba(0, 0, 0, 0.38),
        0 space() space() rgba(0, 0, 0, 0.35);
    }
  }
}
