@import 'true';
@import '../../../src/utils/math/mod';

@include describe('Golden Ratio [function]') {
  @include it('Returns the original value of the golden ratio') {
    $test: toFixed(goldenRatio(), pow(10, 10));
    $expected: 1.6180339887;
    @include assert_equal($test, $expected);
  }

  @include it('Multiplies a number by the golden ratio') {
    $test: toFixed(goldenRatio(5), pow(10, 10));
    $expected: 8.0901699437;
    @include assert_equal($test, $expected);
  }
}
