@import 'true';
@import '../../../src/utils/math/mod';

@include describe('Trigonometry') {
  @include it('Returns the expected sine value') {
    $test: toFixed(sin(45deg), pow(10, 10));
    $expected: 0.7071067812;
    @include assert_equal($test, $expected);
  }

  @include it('Returns the expected cosine value') {
    $test: toFixed(cos(45deg), pow(10, 10));
    $expected: 0.7071067812;
    @include assert_equal($test, $expected);
  }

  @include it('Returns the expected secant value') {
    $test: toFixed(sec(45deg), pow(10, 10));
    $expected: 1.4142135624;
    @include assert_equal($test, $expected);
  }

  @include it('Returns the expected cosecant value') {
    $test: toFixed(csc(45deg), pow(10, 10));
    $expected: 1.4142135624;
    @include assert_equal($test, $expected);
  }

  @include it('Returns the expected tangent value') {
    $test: toFixed(tan(45deg), pow(10, 10));
    $expected: 1;
    @include assert_equal($test, $expected);
  }

  @include it('Returns the expected cotangent value') {
    $test: toFixed(cot(45deg), pow(10, 10));
    $expected: 1;
    @include assert_equal($test, $expected);
  }
}
